#body{
    background-color: #414C80 ;

}

#myImg{
    border-radius: 100px;
    margin-top: 200px;
}

#me{
    border: #414C80;
    border-radius: 20px;
    border-style: outset;
    color: white;
}

#inicio{
    color: white;
}

#someProjects{
    color: white;
}

#projects{
    border-radius: 40px;
}

#contact{
    color: white;
}